<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration scan="false" scanPeriod="30 seconds"
	packagingData="true">
	
	<property name="LOG_FILE" value="trace" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/${LOG_FILE}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- hourly rollover -->
			<fileNamePattern>../logs/old/${LOG_FILE}.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
			<!-- keep 60 days' worth of history capped at 3GB total size -->
			<maxHistory>60</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %class{0} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="warn" />
	<logger name="org.apache" level="warn" />uik


	<root level="info">
<!-- 		<appender-ref ref="STDOUT" /> -->
		<appender-ref ref="FILE" />
	</root>
</configuration>